html {
  scroll-behavior: smooth;
}

#bottom {
  scroll-margin-top: -50vh;
}

.cursor-hover {
  cursor: pointer;
}

body {
  background-color: #363300;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Jost;
  /* font-size: 22px; */
  font-weight: 300;
  overflow-x: hidden;
}

.beschreibung {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 700px;
  font-size: 22px;
  line-height: 140%;
  color: #fff;
  background: #D26600;
  border-radius: 8px;
  z-index: 20;

  opacity: 0;
  transition: all ease-in-out .4s;
}

.profile:hover .beschreibung,
.profile:focus .beschreibung {
  opacity: 1;
  bottom: 40px;
  transition: all ease-in-out .2s;
}

.beschreibung p {
  margin: 20px;
}

a {
  text-decoration: none;
  color: #363300;
}

.cta {
  transform: scale(1);
  transition: transform ease-in-out .4s;
}

.cta:hover,
.cta:focus {
  transform: scale(0.98);
}

svg {
  z-index: 10;
}

.details span a {
  text-align: center;
}

.logo {
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 20;
}

a.social {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 11;
  transform: scale(1);
  transition: transform ease-in-out .2s;
}

a.social:hover {
  transform: scale(0.95);
}

h5 {
  color: #D26600;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 10px;
  opacity: .6;
  margin-top: 8px;
}

strong {
  font-weight: 400;
  display: block;
}

.misc {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 40px;
  margin: 150px 60px 0 60px;
  width: calc(100% - 120px);
}

.misc a {
  text-transform: uppercase;
  color: #363300;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  transition: opacity ease-in-out .2s;
}

.misc span {
  text-transform: uppercase;
  color: #363300;
  opacity: .5;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
}

.misc a:hover {
  opacity: .8;
}

.hero {
  background: black;
  color: white;
  height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  opacity: .6;
  /* margin: auto; */
}

.banner {
  position: absolute;
  right: -180px;
  top: -80px;
  width: 160px;
  margin-right: 100px;
  z-index: 15;
}

.intro {
  position: absolute;
  padding: 40 40;
  background: #D26600;
  max-width: 700px;
  width: 100%;
  border-radius: 8px;
  margin: 20px auto;
  top: 85dvh;
  color: white;
  z-index: 10;
}

.intro p {
  /* max-width: 30ch; */
  line-height: 140%;
  letter-spacing: .01em;
  font-size: 22px;
  margin: 0 20px;
}

.intro div {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto 20px auto;
}

.intro div span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: #363300;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.intro h5 {
  color: #212000;
  font-size: 10px;
  font-weight: 500;
}

/* .intro p {
  line-height: 120%;
  font-size: 22px;
} */

.einleitung {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  /* max-width: 48ch; */
  margin: 350px auto;
  padding: 0 2em;
  color: white;
}

.einleitung h2 {
  color: #D26600;
  font-size: 32px;
  font-weight: 300;
  line-height: 120%;
  /* width: 48ch; */
}

.einleitung p {
  line-height: 140%;
  font-weight: 300;
  font-size: 22px;
  max-width: 50ch;
}

.bound {
  position: relative;
  margin: 0 auto;
  max-width: 550px;
}

footer {
  background: #D26600;
  width: 100%;
  /* padding: 100px; */
  color: #ffffff;
  display: flex;
  margin-top: 60px;
  flex-direction: column;
  align-items: center;
}

footer p {
  max-width: 600px;
  font-size: 22px;
  line-height: 130%;
  margin-left: 20px;
  margin-right: 20px;
}

footer p.grand {
  /* margin: 140px auto 40px auto; */
  /* max-width: 550px; */
  font-size: 30px;
  line-height: 110%;
}

.preis {
  position: relative;
  bottom: 80px;
  left: -360px;
  z-index: 15;
}

/* Carousel Wrapper */
.carousel {
  display: flex;
  top: -200px;
  left: 0;
  right: 0;
  margin-bottom: 140px;
  position: relative;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  /* width: 50%; */
  height: auto;
  gap: 40px;
}

/* Carousel Item */
.carousel-item {
  flex: 0 0 auto;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
}

/* Carousel Images */
.carousel-item img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  /* Ensures images keep their aspect ratio */
}

/* Scrollbar hidden */
.carousel::-webkit-scrollbar {
  display: none;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 200px);
  gap: 20px;
  justify-items: start;
  align-items: start;
  margin-top: 40px;
}

.profile {
  width: 200px;
}

.profile img {
  display: block;
  /* width: 150px; */
  min-width: 200;
  height: auto;
  margin: 0 auto;
}

p.tiny {
  margin-top: 10px;
  text-align: center;
  width: 200px;
  text-transform: uppercase;
  font-size: 12px;
  color: #F58833;
  font-weight: 300;
  letter-spacing: .01em;
}

.move80up {
  transform: translateY(-80px);
}

.move40up {
  transform: translateY(-40px);
}





@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.rotation {
  animation: rotate 22s linear infinite;
  transform-origin: center;
}

@media screen and (max-width: 1400px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }

  .move80up {
    transform: translateY(0);
  }

  .move40up {
    transform: translateY(0);
  }
}

@media screen and (max-width: 980px) {
  .logo {
    top: 20px;
    left: 20px;
  }

  .carousel-item {
    height: 70vw;
  }

  .preis {
    position: relative;
    bottom: 80px;
    right: 20px;
    left: 120;
  }

  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .misc {
    font-size: 8px;
    width: calc(100% - 40px);
    bottom: 20;
  }

  .banner {
    position: absolute;
    left: calc(50% - 60px);
    top: -105px;
    width: 130px;
    z-index: 15;
  }
}

@media screen and (max-width: 480px) {
  .intro {
    padding: 20px 0;
    width: 100%;
    margin: 0 20px;
    top: 90dvh;
  }

  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}